<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Companies List</h1>
    <ul>
   <% for(let i=0; i < companies.length; i++) { %>
     <li>
         <a href="/company/<%=companies[i]._id%>"><%=companies[i].name%></a>
    </li>
  <% } %>
</ul>
<a href="company/new"><button>Create New Company</button></a>
</body>
</html>