<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/company" method="POST">
        Name of Company: <input type="text" name="name" value=""/></br> 
        Year Founded:<input type="text" name="founded" value=""/></br> 
        CEO:<input type="text" name="CEO" value=""/></br> 
        Country of Origin:<input type="text" name="country" value=""/></br> 
        <button type="submit">Create New Company</button>
    </form>    
</body>
</html>